#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .container{
    width: 1,291px;
    height: 64px;
    top: 32px;
    left: 219px;
  }

  .navbar-nav{
    width: 159px;
    height: 64px;
    font-size: 24px;
  }

  .navbar-brand{
    font-size: 32px ;
  }
  
.svg-login{
    padding: 80px;
}
  
.login-h{
    background: #4F46E5;
    display: flex;
    flex-direction: row;
    
  }


.div-card{
  width: 1291px;
  height: 304px;
  margin-top: 414px;
  left: 219px;
  display: flex;
  justify-content:space-between ;
  
}

.layout{

  width: 308px;
  height: 200px;
}

.card{
  width: 742px;
  border:none;
}

.card-text{
  font-size: 18px;
  width: 800px;
  padding-right: 200px;
  height: 150px;
}


.btn-view{
  background: #4F46E5;
  font-weight: 600;
  width: 346px;
  height: 64px;
  border-radius: 8px;
  padding: 0px, 20px, 16px, 20px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
}

.card-header{
padding-top: 10px ;
text-align: start;
background: white;
border: none;
font-weight: bolder;
font-size: xx-large;
}