/* *{
  box-sizing: border-box;
  margin: 0px;
} */
#root {
  max-width: 1728px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/*   * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*/
/* body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}  */

/* main{
height: 100vh;
} */

.container{
  width: 1,291px;
  height: 64px;
  top: 32px;
  left: 219px;
}

.navbar-nav{
  width: 159px;
  height: 64px;
  font-size: 1.5rem;
}

.navbar-brand{
  margin-left: 2rem;
  font-size: 32px ;
}

.svg-login{
  padding: 80px;
}

.user-header{
  width:  40px;
  height: 40px;

  
}


.login-h{
  background: #4F46E5;
  display: flex;
  flex-direction: row;
  
}


.div-card{
width: 100vw;
height: 100vh;
margin-top: 20rem;



}

.layout{

width: 308px;
height: 200px;
}

/**************** Card ******************/
.div-card{
width: 100%;
display: flex;
}

.card{
margin-left: 172px;
width: 500px;
border:none;
}

.card-text{
  font-size: 1.3rem;
  width: 25rem;
 
}


.btn-view{
background: #4F46E5;
font-weight: 600;
width: 21rem;
height: 4rem;
border-radius: 8px;
padding: 0px, 20px, 16px, 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
font-size: 28px;
}

.card-header{
width: 31rem;
height: 10rem;
padding-top:0;
text-align: start;
background: white;
border: none;
font-weight: bolder;
font-size: xx-large;
}

.text-start{
width: 170%;
}

.div-arrows{
height: 650px;
margin: 0px;
padding: 0px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin-right: 100px;
}

.div-container-img{
width: 790px;
height: 550px;
margin: 10px;
margin-top: 0px;
display: flex;
flex-direction: column;
flex-wrap: wrap;

}

.div-img{
margin: auto;
color: white;
}

.img{
width: 308px;
height: 200px;
border-radius: 10%;
box-shadow: 3px 4px 10px 0 #000;
}

.text-img{
color: black;
font-size: xx-large;

}

.arrows{
margin-bottom: 60px;
left: 35px;
height: 100px;
width: 5%;
cursor: pointer;

}


.padre-carousel{
  display: flex;
flex-direction: column;
}

/*************************************************************************************************************/

@media (max-width:1744px){
.navbar-nav{
width: 15%;
padding-right: 40px;
}

}

@media (max-width:1363px){
.navbar-nav{
  width: 50%;
  padding-right: 40px;
}
  
}

@media (max-width:1367px){
.div-card{
  padding: auto;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 170vh;

}

}

@media (max-width:1368px){
.div-caja-card{
  width: 600px;
padding-bottom: 10%;
margin-bottom: 2rem;
text-align: center;
align-items: center;
}
}

/*************************************  Carousel Media query *****************************/

/* @media (max-width:1368px){
.caja-carusel{
  border: solid black;
  display: inline-block;
  flex-direction: column;
}
} */

@media  (max-width:1368px){
.div-arrows{
  
  width: 90vw;
  height: 100vh;
  padding-top: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;

  
} 
}

@media (max-width:1368px) {
  .div-container-img{
    height: 100vh;
    margin-top: 10rem;
    margin-left: 6rem;

  width:12rem;
    display: flex;
  flex-wrap: nowrap;
   
  
}


.user-header{
  width:  40px;
  height: 40px;
  display: flex;
  flex-direction: column;
}

.arrows{
  width: 5rem;
  height: 100px;
  margin-top: 24rem;
}

.img{
  width: 12rem;
  height: 12rem;
}

.card-header{
  width: 30rem;
  display: flex;
  text-align: start;
}

.h1-popular{
  font-size: 3rem;
text-align: center;
padding-left: 10rem;

}

.padre-carousel{
  display: flex;

}


}

@media screen {
  
}




